<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Author</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
  <h2>Add New Author</h2>
  <form th:action="@{/authors/add}" th:object="${author}" method="post">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" th:field="*{firstName}" required />
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" th:field="*{lastName}" required />
    </div>
    <div>
      <label for="biography">Biography:</label>
      <textarea id="biography" th:field="*{biography}"></textarea>
    </div>
    <div>
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" />
    </div>
    <div>
      <label for="dateOfDeath">Date of Death:</label>
      <input type="date" id="dateOfDeath" th:field="*{dateOfDeath}" />
    </div>
    <div>
      <button type="submit">Add Author</button>
      <a th:href="@{/authors}">Cancel</a>
    </div>
  </form>
</div>
</body>
</html>
