<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Catalog</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Book Catalog</h2>
        <div class="header-buttons">
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="logout-button">Logout</button>
            </form>
            <a th:href="@{/users/profile}" class="profile-button">My Profile</a>

            <a th:href="@{/authors}" class="authors-button">Authors</a>

            <a th:href="@{/admin/manage-users}"
               sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')"
               class="admin-button">
                Manage Users
            </a>

            <a th:href="@{/admin/return-requests}"
               sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')"
               class="admin-button">
                Manage Return Requests
            </a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Copies Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}"></a></td>
            <td th:text="${book.copiesAvailable}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>