<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
  <h2>Manage Users</h2>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Date Joined</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
      <td th:text="${user.username}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.dateJoined}"></td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>
